
@font-face{
    font-family: Oyster;
    src: url(Oyster.ttf);
}
.faq-sec {
    width: 100%;
    height: unset;
    min-height: 850px;
    background: #1a021c;
}

.aic {
    align-items: center;
}
.jcfs {
    justify-content: flex-start;
}

.fdc {
    flex-direction: column;
}

.flex {
    display: flex;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.faq-sec .top-bloc-story {
    width: 100%;
    height: 450px;
    background-image: url(2ndartwork.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.faq-sec .top-bloc-story .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.301);
    z-index: 10;
}
.faq-sec .line {
    width: 100%;
    height: 4px;
    background-image: -webkit-gradient(linear,left top,right top,from(#f6ca52),to(#6a0171));
    background-image: linear-gradient(
90deg,#f6ca52,#6a0171);
}

.faq-sec .story-bloc {
    width: 100%;
    padding: 2rem;
}

.faq-sec .story-bloc h2 {
    font-size: clamp(3rem,3vw,1rem);
    font-weight: 400;
    text-align: center;
    color: #ffca52;
    font-family: Oyster, sans-serif;
    width: 70%;
    z-index: 100;
    border-radius: 10px;
    padding: 2rem;
}

.faq-sec h2 {
    font-size: clamp(3rem,3vw,1rem);
    font-weight: 400;
    text-align: center;
    color: #ffca52;
    z-index: 100;
    border-radius: 10px;
    padding: 2rem;
}
.faq-sec .story-bloc p {
    width: 70%;
    color: #ffffffb4;
    text-align: justify;
    font-size: 16px;
    line-height: 1.2;
    font-size: 18px;
    padding: 5px 0 40px;
}

.faq-sec .story-bloc .story-pic {
    width: 70%;
    margin-bottom: 40px;
}

.faq-sec .story-bloc .story-pic img {
    width: 100%;
}
.faq-sec .story-bloc .story-pic-1 img {
    width: 210px;
}

@media (min-width: 320px) and (max-width: 1023px){
.faq-sec .story-bloc {
    width: 95%;
    padding: 5px;
}

}

@media (min-width: 320px) and (max-width: 1023px){
.faq-sec .story-bloc h2 {
    font-size: 24px;
    width: 100%;
    padding: 20px 10px 10px;
}
.faq-sec .story-bloc .story-pic {
    width: 95%;
    margin-bottom: 15px;
}

.faq-sec .story-bloc p {
    width: 95%;
    padding: 15px 0;
}
}

@media (max-width:700px){
    .faq-sec .top-bloc-story {
        width: 100%;
        height: 350px;
        background-image: url(2ndartwork.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
}